<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="welcome.css" />

    <title>lifelog</title>
</head>

<body>

<main class="body">
    <div class="logo"><img src="logo.png" /></div></br></br>
    <button class="signin" onclick="location.href='https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22BC9V&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800'">SignIn</button>
    <button class="signout" onclick="location.href='https://accounts.fitbit.com/login?targetUrl=https%3A%2F%2Fwww.fitbit.com%2Flogin%2Ftransferpage%3Fredirect%3Dhttps%25253A%25252F%25252Fwww.fitbit.com%25252Fuser%25252F7VZYWN&lcl=ko_KR'">SignOut</button>

</main>
</body>
</html>